.myds-sort
{
  cursor: ns-resize;
}

.myds-view
{
  min-height: 600px;
  margin-bottom: 20px;
}

.myds-click, .myds-navigate, .myds-list, .myds-dropdown
{
  cursor: pointer;
}

.myds-page-view
{
	width : 100%;
}

.myds-validate-error
{
  color: #dc3545 !important;
  border-left-color: #dc3545 !important;
  border-left-width: 2px !important;
}

.myds-check
{
	margin-right: 6px;
}

.myds-dropzone
{
    min-height: 140px;
    border: 1px dashed #1c84c6;
    background: white;
    padding: 20px 20px;
}

.dz-filename
{
  cursor: pointer;
}

.bootstrap-datetimepicker-widget.dropdown-menu
{
	width: 16rem;
}

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.ct-legend.ct-series-1
{
  background-color: #d70206;
  border-color: #d70206;
}

.ct-legend.ct-series-2
{
  background-color: #f05b4f;
  border-color: #f05b4f;
}

.ct-legend.ct-series-3
{
  background-color: #f4c63d;
  border-color: #f4c63d;
}

.ct-legend.ct-series-4
{
  background-color: #d17905;
  border-color: #d17905;
}

.ct-legend.ct-series-5
{
  background-color: #453d3f;
  border-color: #453d3f;
}

.ct-legend.ct-series-6
{
  background-color: #59922b;
  border-color: #59922b;
}

.ct-legend.ct-series-7
{
  background-color: #0544d3;
  border-color: #0544d3;
}

.ct-legend
{
  position: relative;
  z-index: 10;
  list-style: none;
  text-align: center;
}
.ct-legend li
{
  position: relative;
  padding-left: 23px;
  margin-right: 10px;
  margin-bottom: 3px;
  cursor: pointer;
  display: inline-block;
}

.ct-legend li:before
{
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  content: '';
  border: 3px solid transparent;
  border-radius: 2px;
  top:4px;
}

.ct-legend li.inactive:before
{
  background: transparent;
}

.ct-legend.ct-legend-inside
{
  position: absolute;
  top: 0;
  right: 0;
}

.ct-legend.ct-legend-inside li
{
  display: block;
  margin: 0;
}

.ct-legend .ct-series-1:before
{
  background-color: #d70206;
  border-color: #d70206;
}
.ct-legend .ct-series-2:before
{
   background-color: #f05b4f;
   border-color: #f05b4f;
}
.ct-legend .ct-series-3:before
{
   background-color: #f4c63d;
   border-color: #f4c63d;
}
.ct-legend .ct-series-4:before
{
   background-color: #d17905;
   border-color: #d17905;
}

